// Specific CSS for your home-page
.title-buttons-container {
  margin-top: 304px;
}

#home-title {
  font-size: 32px;
}

.buttons-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 64px;
}

.responsive-text {
  font-size: 16px;
  margin: 16px 64px;
}
