/* Home Page specific styles */

.home-container {
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
  height: 100vh; /* Full height of the viewport */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  display: flex; /* Flexbox layout */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Vertically center content */
  align-items: center; /* Horizontally center content */
  text-align: center; /* Center text */
  position: relative; /* Allows absolute positioning of children */
  background-size: cover; /* Ensure background image covers the container */
  background-position: center center; /* Center background image */
}

.title-home {
  font-family: 'Poppins', sans-serif; /* Font style */
  font-weight: 600; /* Bold text */
  margin-bottom: 20px; /* Space below the title */
  color: #333333; /* Make color more visible */
  font-size: 10vh; /* Large font size relative to the viewport height */
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 5px;  /* More space between letters for a bolder look */
  text-align: left; /* Align text to the left */
  white-space: normal;  /* Allow words to wrap */
  display: block;  /* Make the title block-level so each word is on a new line */
  position: absolute; /* Position the title absolutely */
  top: 60px; /* Position it 40px from the top */
  left: 40px; /* Position it 40px from the left */
  overflow: hidden; /* Hide overflow text */
}

.title-home span {
  display: block;  /* Ensures each word is on its own line */
  margin-bottom: 10px;  /* Adds space between each word */
}

.responsive-text {
  position: fixed;
  bottom: 7vh;
  background-color: rgba(255, 255, 255, 0.2);  /* Light white background with transparency */
  color: #333333;  /* Dark text color for contrast */
  padding: 8px 16px;  /* Some padding around the text */
  font-size: 1.2rem;  /* Smaller font size for the box */
  border-radius: 8px;  /* Slight rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Soft shadow for the box */
  z-index: 10;  /* Ensure it's above other content */

}

.upload-btn, .generate-btn {
  animation: float 2s infinite ease-in-out; /* Animates the buttons */
  margin: 8px; /* Margin between buttons */
  position: relative; /* Allow positioning the buttons relative to their current position */
  top: 20vh; /* Move buttons 5% of the viewport height lower */
  background: #333333; /* Dark background for the buttons */
  color: white; /* White text */
}

@keyframes float {
  0%, 100% { transform: translateY(0); } /* Initial and final position */
  50% { transform: translateY(-3px); } /* Move up slightly in the middle of the animation */
}


.home-logo{
    width: 50px;
}
