// Import page-specific CSS files here.
@import "home";

.closet-container {
  background:url('6.jpg') ;
  background-size: cover;
}

.your-outfits {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #333333;
  text-align: center;
  padding: 2rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
