<div class="edit-page">
    <div class="upload-image-frame text-center">
      <%= cl_image_tag(@outfit.photo.key, class: "img-fluid") %>
    </div>
    <h1><%= @outfit.name %></h1>
    <hr>
    <h3>Pick your favorite pieces, then tap "Save Outfit" to move forward.</h3>
    <%= render 'form', outfit: @outfit %>
</div>
