<%# Display the list of outfits for the current user %>
<div class="closet-container">
<h1 class="your-outfits">Your Outfits</h1>

  <% if @outfits.empty? %>
    <div class="outfit-card">
    <p>You haven't made any outfits yet!</p>
    <p><%= link_to 'Create Outfits', root_path %></p>
    </div>
  <% else %>
    <div class="outfit-cards text-left" data-controller="product-swap">
      <% @outfits.each do |outfit| %>
        <%= link_to outfit_path(outfit), class: "outfit-card-link" do %>
          <%= render 'outfit_card', outfit: outfit %>
          <% end %>
        <% end %>
      <% end %>
    </div>

</div>
