<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
  <div class="container-fluid d-flex justify-content-around">

    <%= link_to root_path, class: "nav-link text-center" do%>
      <i class="bi bi-house-door fs-4"></i>
      <div class="small">Home</div>
    <% end %>

    <%= link_to outfits_path, class: 'nav-link text-center' do %>
      <i class="bi bi-bag fs-4"></i>
      <div class="small">Closet</div>
    <% end %>

    <a class="nav-link text-center" href="#">
      <i class="bi bi-person fs-4"></i>
      <div class="small">Profile</div>
    </a>


    </div>
</nav>
