<div class="home-container">
  <div class="background-image-home">
    <h1 class="title-home" style="align-text: center">What do I wear ?</h1>
    <div class="buttons-home">
      <%= link_to new_outfit_path, class: "btn-home upload-btn", style: "text-decoration: none; color: black;" do %>
        Upload
      <% end %>
      <button class="btn-home generate-btn">Generate</button>
    </div>
  </div>
</div>
