// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "home";
@import "outfit_card";
@import "product_card";


h1{
font-size: 24px;
}

h2{
font-size: 24px;
color: white;
  }

p{
  color: #333333;
  text-align: center;
}

hr{
  color: white;
}
