// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "home";
@import "outfit_card";
@import "product_card";


h1{
font-size: 24px;
color: white;
}

h2{
font-size: 24px;
color: white;
  }

p{
  color: white;
}

body {
  background: url('background closet.jpg') no-repeat center center;
  background-size: cover;
}

hr{
  color: white;
}
