// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/edit";
@import "pages/show";
@import "pages/new";
@import "pages/new_from_products";
@import "pages/devise_new";
@import "pages/change";

.home {
  background-image: url('background_white_sweater.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.outfits.index {
  background-image: url('6.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.outfits.new {
  background-image: url('8.jpg');
  background-size: cover;
}
